* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
.home {
    height: 110vh;
    background: #171718;
}
section {
    min-height: 100vh;
}
img {
    width: 100%;
}
.footer {
    background: #171718;
}